<!-- BLOG SECTION : begin -->
<section>

<!-- SECTION HEADER : begin -->
<header>
<div class="container">
  <h2>Blog</h2>
  <p class="subtitle">Read about latest health trends</p>
  <p class="more"><a href="blog.html" class="c-button m-type-2">Read Blog</a></p>
</div>
</header>
<!-- SECTION HEADER : end -->

<div class="container">
  <div class="row">
    <div class="col-sm-3">

      <!-- ARTICLE : begin -->
      <article class="c-article">
      <div class="article-image"><a href="blog-image.html"><img src="images/article_thumb_01.jpg" alt=""></a></div>
      <h3 class="article-title"><a href="blog-image.html">Far far away, behind the word mountains</a></h3>
      </article>
      <!-- ARTICLE : end -->

    </div>
    <div class="col-sm-3">

      <!-- ARTICLE : begin -->
      <article class="c-article">
      <div class="article-image"><a href="blog-image.html"><img src="images/article_thumb_02.jpg" alt=""></a></div>
      <h3 class="article-title"><a href="blog-image.html">The Big Oxmox advised her not to do so</a></h3>
      </article>
      <!-- ARTICLE : end -->

    </div>
    <div class="col-sm-3">

      <!-- ARTICLE : begin -->
      <article class="c-article">
      <div class="article-image"><a href="blog-image.html"><img src="images/article_thumb_03.jpg" alt=""></a></div>
      <h3 class="article-title"><a href="blog-image.html">A small river named Duden flows by their place</a></h3>
      </article>
      <!-- ARTICLE : end -->

    </div>
    <div class="col-sm-3">

      <!-- ARTICLE : begin -->
      <article class="c-article">
      <div class="article-image"><a href="blog-image.html"><img src="images/article_thumb_04.jpg" alt=""></a></div>
      <h3 class="article-title"><a href="blog-image.html">Right at the coast of the Semantics</a></h3>
      </article>
      <!-- ARTICLE : end -->

    </div>
  </div>
</div>

</section>
<!-- BLOG SECTION : end -->
