<div class="col-md-6">

  <!-- BOTTOM SUBSCRIBE : begin -->
  <div class="bottom-subscribe various-content">

    <h3>Newsletter</h3>
    <p>BEAUTYSPOT supports MailChimp integration.</p>
    <form id="subscribe-form" action="http://volovar.us8.list-manage.com/subscribe/post-json?u=76a50c9454ec8ab78914d1bf2&amp;id=49e892f53d&amp;c=?" method="get">

      <!-- VALIDATION ERROR MESSAGE : begin -->
      <p style="display: none;" class="c-alert-message m-warning m-validation-error"><i class="ico fa fa-exclamation-circle"></i>Email address is required.</p>
      <!-- VALIDATION ERROR MESSAGE : end -->

      <!-- SENDING REQUEST ERROR MESSAGE : begin -->
      <p style="display: none;" class="c-alert-message m-warning m-request-error"><i class="ico fa fa-exclamation-circle"></i>There was a connection problem. Try again later.</p>
      <!-- SENDING REQUEST ERROR MESSAGE : end -->

      <!-- SUCCESS MESSAGE : begin -->
      <p style="display: none;" class="c-alert-message m-success"><i class="ico fa fa-check-circle"></i><strong>Sent successfully.</strong></p>
      <!-- SUCCESS MESSAGE : end -->

      <div class="form-fields">
        <input class="m-required m-email" name="EMAIL" type="text" data-placeholder="Your email address" title="Your email address">
        <button class="c-button submit-btn" type="submit" data-label="Subscribe" data-loading-label="Sending...">Subscribe</button>
      </div>
    </form>

  </div>
  <!-- BOTTOM SUBSCRIBE : end -->
