<!-- TESTIMONIALS SECTION : begin -->
<section>

<!-- SECTION HEADER : begin -->
<header>
<div class="container">
  <h2>Our Clients</h2>
  <p class="subtitle">Read why they love us so much</p>
  <p class="more"><a href="contact.html" class="c-button m-type-2">Become Our Client</a></p>
</div>
</header>
<!-- SECTION HEADER : end -->

<!-- TESTIMONIAL LIST : begin -->
<div class="c-testimonial-list m-paginated">
  <div class="container">
    <div class="testimonial-list-inner">
      <div class="testimonial-list-item">

        <!-- TESTIMONIAL : begin -->
        <div class="c-testimonial m-has-portrait">
          <div class="testimonial-inner">
            <p class="testimonial-portrait"><span><%= image_tag "Maqueta/client_01.jpg", :alt=>"" %></span></p>
            <blockquote>
              <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p>
              <footer><strong>Floor Simons</strong>, Startup CEO</footer>
            </blockquote>
          </div>
        </div>
        <!-- TESTIMONIAL : end -->

      </div>
      <div class="testimonial-list-item">

        <!-- TESTIMONIAL : begin -->
        <div class="c-testimonial m-has-portrait">
          <div class="testimonial-inner">
            <p class="testimonial-portrait"><span><img src="images/client_02.jpg" alt=""></span></p>
            <blockquote>
              <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean imperdiet.</p>
              <footer><strong>Nikki Neil</strong>, Blogger</footer>
            </blockquote>
          </div>
        </div>
        <!-- TESTIMONIAL : end -->

      </div>
      <div class="testimonial-list-item">

        <!-- TESTIMONIAL : begin -->
        <div class="c-testimonial m-has-portrait">
          <div class="testimonial-inner">
            <p class="testimonial-portrait"><span><img src="images/client_03.jpg" alt=""></span></p>
            <blockquote>
              <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Aenean imperdiet. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Nam quam nunc.</p>
              <footer><strong>Tarja Lee</strong>, Writer</footer>
            </blockquote>
          </div>
        </div>
        <!-- TESTIMONIAL : end -->

      </div>
    </div>
  </div>
</div>
<!-- TESTIMONIAL LIST : end -->

</section>
<!-- TESTIMONIALS SECTION : end -->
