<!-- FOOTER : begin -->
<footer id="footer">
<div class="container">

  <!-- FOOTER TWITTER : begin -->
  <div class="footer-twitter m-paginated" data-id="LubosBudkovsky" data-limit="3" data-interval="12000">
    <div class="footer-twitter-inner">
      <i class="ico fa fa-twitter"></i>
      <h4 class="twitter-title"><a href="https://twitter.com/LubosBudkovsky">@LubosBudkovsky</a></h4>
      <div class="twitter-feed">
        <span class="c-loading-anim"><span></span></span>
      </div>
    </div>
  </div>
  <!-- FOOTER TWITTER : end -->

  <!-- FOOTER BOTTOM : begin -->
  <div class="footer-bottom">
    <div class="row">
      <div class="col-md-6 col-md-push-6">

        <!-- FOOTER MENU : begin -->
        <nav class="footer-menu">
        <ul>
          <li>
          <% if admin_signed_in? %>
            Conectado como <strong> <%= current_admin.email %></strong> <%= link_to "Salir",destroy_admin_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Administrador", new_admin_session_path %>
        <% end %>
        </li>
      </ul>
      </nav>
      <!-- FOOTER MENU : end -->

    </div>
    <div class="col-md-6 col-md-pull-6">

      <!-- FOOTER TEXT : begin -->
      <div class="footer-text">
        <p>Derechos reservados 2015 <a href="www.purpurapromocionales.com"> Purpurapromocionales.com</a></p>
      </div>
      <!-- FOOTER TEXT : end -->

    </div>
  </div>
</div>
<!-- FOOTER BOTTOM : end -->

</div>
</footer>
<!-- FOOTER : end -->
