<header id="header" class="m-animated">
<div class="header-bg">
  <div class="header-inner">

    <!-- HEADER BRANDING : begin -->
    <div class="header-branding">
      <a href="/"><img alt="Purpura Promocionales" src="/assets/Maqueta/logo.png" data-hires="/assets/Maqueta/logo.2x.png" width="291"></a>
    </div>
    <!-- HEADER BRANDING : end -->

    <!-- HEADER NAVIGATION : begin -->
    <div class="header-navigation">
      <%= render "share/navbar" %>
      <%= render "share/search" %>
    </div>
    <!-- HEADER NAVIGATION : end -->

    <!-- HEADER PANEL : begin -->
    <div class="header-panel">

      <button class="header-panel-toggle" type="button"><i class="fa"></i></button>


      <!-- HEADER CONTACT : begin -->
      <div class="header-contact">
        <ul>

          <!-- PHONE : begin -->
          <li>
          <div class="item-inner">
            <i class="ico fa fa-phone"></i>
            <strong>321 654 987</strong>
          </div>
          </li>
          <!-- PHONE : end -->

          <!-- EMAIL : begin -->
          <li>
          <div class="item-inner">
            <i class="ico fa fa-envelope-o"></i>
            <a href="#">hello@beautyspot.com</a>
          </div>
          </li>
          <!-- EMAIL : end -->

          <!-- ADDRESS : begin -->
          <li>
          <div class="item-inner">
            <i class="ico fa fa-map-marker"></i>
            <strong>BEAUTYSPOT</strong><br>
            9015 Sunset Boulevard<br>
            Ca 90069
          </div>
          </li>
          <!-- ADDRESS : end -->

          <!-- HOURS : begin -->
          <li>
          <div class="item-inner">
            <i class="ico fa fa-clock-o"></i>
            <dl>
              <dt>Mo. - Fr.:</dt>
              <dd>10:00 - 16:00</dd>
              <dt>Sa.:</dt>
              <dd>10:00 - 14:00</dd>
              <dt>Su.:</dt>
              <dd>Closed</dd>
            </dl>
          </div>
          </li>
          <!-- HOURS : end -->

        </ul>
      </div>
      <!-- HEADER CONTACT : end -->

      <!-- HEADER SOCIAL : begin -->
      <div class="header-social">
        <ul>
          <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
        </ul>
      </div>
      <!-- HEADER SOCIAL : end -->

    </div>
    <!-- HEADER PANEL : end -->

  </div>
</div>
</header>
