<nav class="header-menu">
<button class="header-menu-toggle" type="button"><i class="fa fa-bars"></i>MENU</button>
<ul>
  <li class="m-active">
  <span>
  <%= link_to "Inicio", root_path %>
  </span>
  </li>
  <li>
  <span><a href="services.html">Productos</a></span>
  <ul class="sub-menu">
    <li><a href="services.html">Services</a></li>
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li><a href="typography.html">Typography</a></li>
    <li><a href="elements.html">Elements</a></li>
    <li><a href="search-results.html">Search Results</a></li>
    <li><a href="404.html">Error 404</a></li>
    <li><a href="documentation.html">Documentation</a></li>
  </ul>
  </li>
  <li>
  <span><a href="shop-list.html">Shop</a></span>
  <ul class="sub-menu">
    <li><a href="shop-list.html">Product List</a></li>
    <li><a href="shop-detail.html">Product Detail</a></li>
    <li><a href="shop-cart.html">Cart Detail</a></li>
    <li><a href="shop-checkout.html">Checkout</a></li>
  </ul>
  </li>
  <li>
  <span><a href="blog.html">Blog</a></span>
  <ul class="sub-menu">
    <li><a href="blog.html">Article List</a></li>
    <li><a href="blog-image.html">Image Article</a></li>
    <li><a href="blog-video.html">Video Article</a></li>
    <li><a href="blog-audio.html">Audio Article</a></li>
    <li><a href="blog-quote.html">Quote Article</a></li>
    <li><a href="blog-link.html">Link Article</a></li>
    <li><a href="blog-image-disqus.html">Disqus Comments</a></li>
  </ul>
  </li>
  <li>
  <span><a href="contact.html">Contact</a></span>
  </li>
</ul>
</nav>
