<div class="header-search">
  <div class="header-search-inner">
    <form class="search-form" action="search-results.html">
      <i class="search-ico fa fa-search"></i>
      <input class="search-input" type="text" placeholder="Search for...">
      <button class="search-submit" type="submit"><i class="fa fa-angle-right"></i></button>
      <button class="search-toggle" type="button">Search</button>
    </form>
  </div>
  <button class="search-toggle-mobile" type="button"><i class="fa"></i></button>
</div>
