<!-- PRODUCT TOOLS : begin -->
<form action="shop-detail.html" class="product-tools default-form">

  <div class="quantity-input">
    <input type="number" class="m-type-2" value="1" min="1" max="100" step="1">
  </div>
  <button class="c-button product-cart-btn" type="submit">Add To Cart</button>

</form>
<!-- PRODUCT TOOLS : end -->
