<!-- PAGE HEADER : begin -->
<div id="page-header">
  <div class="container">
    <h1><%=  product.present? ? product.name : 'Todos los productos' %></h1>
    <ul class="breadcrumbs">
      <li><a href="index.html">Home</a></li>
      <li><a href="shp-list.html">Shop</a></li>
      <li><%=  product.present? ? product.name  : 'Todos los productos'  %></li>
    </ul>
  </div>
</div>
<!-- PAGE HEADER : begin -->
