<!-- PRODUCT INFO : begin -->
<div class="product-info">

  <!-- PRODUCT STATUS : begin -->
  <div class="product-status m-available">
    <div class="product-status-inner">
      <i class="ico fa fa-check"></i>
      <h5>In Stock</h5>
      <p>Ship in 24h</p>
    </div>
  </div>
  <!--div class="product-status m-unavailable">
  <div class="product-status-inner">
    <i class="ico fa fa-times"></i>
    <h5>Unavailable</h5>
    <p>Product unavailable</p>
  </div>
  </div-->
  <!--div class="product-status m-info">
  <div class="product-status-inner">
    <i class="ico fa fa-clock-o"></i>
    <h5>Back Order</h5>
    <p>Out of stock</p>
  </div>
  </div-->
  <!-- PRODUCT STATUS : end -->

  <!-- PRODUCT PRICE : begin -->
  <div class="product-price">
    <span class="old-price">$29,99</span>
    <strong class="price">$21,89</strong>
  </div>
  <!-- PRODUCT PRICE : end -->

</div>
<!-- PRODUCT INFO : end -->
