<li style="display: none;">

<!-- PRODUCT REVIEWS : begin -->
<div class="product-reviews">

  <!-- REVIEW LIST: begin -->
  <ul class="review-list" id="product-reviews">
    <li>

    <!-- REVIEW : begin -->
    <div class="review">
      <p class="review-portrait"><img alt="" src="images/comment_author_01.jpg"></p>
      <h4 class="review-author">Floor Simons</h4>
      <p class="review-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></p>
      <div class="review-content various-content">
        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      </div>
      <div class="review-info">
        <div class="review-date">May 7, 2014</div>
      </div>
    </div>
    <!-- REVIEW : end -->

    </li>
    <li>

    <!-- REVIEW : begin -->
    <div class="review">
      <p class="review-portrait"><img src="images/comment_author_02.jpg" alt=""></p>
      <h4 class="review-author">Nikki Neil</h4>
      <p class="review-rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
      <div class="review-content various-content">
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas.</p>
      </div>
      <div class="review-info">
        <div class="review-date">May 7, 2014</div>
      </div>
    </div>
    <!-- REVIEW : end -->

    </li>
    <li>

    <!-- REVIEW : begin -->
    <div class="review">
      <p class="review-portrait"><img src="images/comment_author_03.jpg" alt=""></p>
      <h4 class="review-author">Tarja Lee</h4>
      <p class="review-rating"><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></p>
      <div class="review-content various-content">
        <p>When she reached the first hills of the Italic Mountains.</p>
      </div>
      <div class="review-info">
        <div class="review-date">May 7, 2014</div>
      </div>
    </div>
    <!-- REVIEW : end -->

    </li>
  </ul>
  <!-- REVIEW LIST: end -->

  <!-- REVIEW FORM : begin -->
  <form id="review-form" class="review-form default-form m-validate" action="shop-detail.html" method="post">

    <h3 class="review-form-title">Add a comment</h3>

    <!-- FORM VALIDATION ERROR MESSAGE : begin -->
    <p class="c-alert-message m-warning m-validation-error" style="display: none;"><i class="ico fa fa-exclamation-circle"></i>Please fill in all required (*) fields.</p>
    <!-- FORM VALIDATION ERROR MESSAGE : end -->

    <div class="row">
      <div class="col-sm-6">

        <!-- NAME FIELD : begin -->
        <div class="form-field">
          <label for="review-name">Your Name<span>*</span></label>
          <input id="review-name" class="m-required">
        </div>
        <!-- NAME FIELD : end -->

        <!-- EMAIL FIELD : begin -->
        <div class="form-field">
          <label for="review-email">Your Email Address <span>*</span></label>
          <input id="review-email" class="m-required m-email">
        </div>
        <!-- EMAIL FIELD : end -->

      </div>
      <div class="col-sm-6">

        <!-- REVIEW FIELD : begin -->
        <div class="form-field">
          <label for="review-message">Review <span>*</span></label>
          <textarea id="review-message" class="m-required"></textarea>
        </div>
        <!-- REVIEW FIELD : end -->

        <!-- RATING FIELD : begin -->
        <div class="form-field">
          <div class="review-rating">
            <label>Rating</label>
            <span class="rating-stars">
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </span>
            <input type="hidden">
          </div>
        </div>
        <!-- RATING FIELD : end -->

        <!-- SUBMIT BUTTON : begin -->
        <div class="form-field">
          <button class="submit-btn c-button" type="submit" data-label="Submit" data-loading-label="Sending...">Submit</button>
        </div>
        <!-- SUBMIT BUTTON : end -->

      </div>
    </div>

  </form>
  <!-- REVIEW FORM : end -->

</div>
<!-- PRODUCT REVIEWS : end -->

</li>
