<!-- SIDEBAR TAGS : begin -->
<div class="sidebar-widget sidebar-tags">
  <h3 class="widget-title">Popular Tags</h3>
  <div class="widget-content">
    <ul>
      <li><a href="#">Cream</a></li>
      <li><a href="#">Skin</a></li>
      <li><a href="#">Almond</a></li>
      <li><a href="#">Extract</a></li>
      <li><a href="#">Face</a></li>
      <li><a href="#">Shaping</a></li>
      <li><a href="#">Mask</a></li>
    </ul>
  </div>
</div>
<!-- SIDEBAR TAGS : end -->
