<!-- SIDEBAR PRODUCTS : begin -->
<div class="sidebar-widget sidebar-products">
  <h3 class="widget-title">Popular Products</h3>
  <div class="widget-content">
    <ul>
      <li>
      <h4 class="product-title"><a href="shop-detail.html">Aromachology Repairing Mask</a></h4>
      <p class="product-price"><span class="old-price">$26.49</span> $22.49</p>
      </li>
      <li>
      <h4 class="product-title"><a href="shop-detail.html">Almond Supple Skin Oil</a></h4>
      <p class="product-price">$35.50</p>
      </li>
      <li>
      <h4 class="product-title"><a href="shop-detail.html">Shea Ultra Gentle Moisturizer</a></h4>
      <p class="product-price">$29.99</p>
      </li>
    </ul>
  </div>
</div>
<!-- SIDEBAR PRODUCTS : end -->
