<!-- PRODUCT RATING : begin -->
<div class="product-rating">
  <a href="#product-tabs">
    <span class="rating-stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></span>
    <span class="rating-label">3 reviews</span>
  </a>
</div>
<!-- PRODUCT RATING : end -->
